.monospace-text {
  font-family: monospace;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.list-group-item {
  cursor: pointer;
}

.overflow-auto {
  max-height: 72vh;
  border-bottom: 1px lightgrey solid;
  box-shadow: 5px 4px 5px -1px rgba(0, 0, 0, 0.3);
}

.snippet-fragment {
  overflow-wrap: break-word;
  font-size: small;
  color: grey;
}

.snippet-list {
  max-width: 70%;
}

.active {
  color: white;
}

.active-pill {
  border: 1px white solid;
}

.rounded-pill {
  border: 1px white solid;
}
